@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.explorer
{
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
    
    & h2
    {
        font-size: 1.5rem;
    }
    
    & p
    {
        font-size: 25px;
        font-weight: 100;
        margin: 1.5rem 0;
    }
    
    & button
    {
        @include mixins.base-button;
    }
}

.loader
{
$animation-time: 3s;
 position: fixed;
 display: grid;
 place-items: center;
 background-color: #ffffff;
 opacity: 0.9;
 height: 100vh;
 inset: 0;
 z-index: 3;
 animation: disappear 200ms $animation-time forwards;
 transform-origin: top;
 &::after {
     content: "";
     height: 100px;
     width: 100px;
     border-right: 5px solid transparent;
     border-top: 5px solid colors.$tertiary;
     border-radius: 60%;
     animation: spin $animation-time infinite linear;
 }
}

