@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
/* WILDCARD */
*,
::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.3rem;
}

.explorer {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.explorer h2 {
  font-size: 1.5rem;
}
.explorer p {
  font-size: 25px;
  margin: 1.5rem 0;
}
.explorer button {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: all 200ms;
  margin-top: -1rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.global-tuto {
  padding: 1rem;
  margin-bottom: 2rem;
}
.global-tuto .tuto {
  max-width: 1280px;
  margin: auto;
  position: relative;
  counter-reset: steps;
}
.global-tuto .tuto h2 {
  padding-left: 1.5rem;
}
.global-tuto .tuto ol {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .global-tuto .tuto ol {
    flex-direction: column;
  }
}
.global-tuto .tuto ol li:hover .tuto__icon {
  color: #9356DC;
}
.global-tuto .tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.global-tuto .tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #f6f6f6;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.global-tuto .tuto li:hover {
  transform: scale(1.02);
  background: #f7f1fc;
}
.global-tuto .tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1rem;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.global-menu {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  margin-bottom: -4rem;
}
.global-menu .choice {
  max-width: 1280px;
  margin: auto;
  position: relative;
  background-color: #f6f6f6;
}
.global-menu .choice h2 {
  margin-bottom: 2rem;
}
.global-menu .choice .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1024px) {
  .global-menu .choice .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.global-menu .choice .menus__cards .new:hover {
  position: relative;
  background-blend-mode: lighten;
  box-shadow: 2px 6px 20px #999999;
  border-radius: 20px;
}
.global-menu .choice .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5.5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 10%;
  animation: blinking 2s linear infinite;
  cursor: pointer;
}
.global-menu .choice .card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  color: inherit;
  display: block;
}
.global-menu .choice .card .card__image {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.global-menu .choice .card .card__title {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.global-menu .choice .card__description {
  padding: 10px 15px 15px 15px;
}
.global-menu .choice .card__description h3, .global-menu .choice .card p {
  margin: 0.4rem;
}
.global-menu .choice .card i {
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(320%);
}
.global-menu .choice .card__description .heart:hover {
  cursor: pointer;
  animation: heart 3s infinite;
  background: linear-gradient(to bottom, #9356dc, #9356dc, #b35cdc, #cf64dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  background-color: #332f2f;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 65px;
}
footer img {
  height: 1.3rem;
  filter: invert(100%);
}
footer ul, footer li {
  list-style-type: none;
  padding-left: 0;
}
footer .fas {
  filter: invert(100%);
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}
footer ul {
  margin: 20px auto;
}

header i {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.banner img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.resto__title {
  margin-top: -2rem;
}
.resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  border-radius: 2rem 2rem 0 0;
}
.resto__title h2 .heart:hover {
  cursor: pointer;
  animation: heart 3s infinite;
  background: linear-gradient(to bottom, #9356dc, #9356dc, #b35cdc, #cf64dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.resto__title h2 .far {
  padding-left: 1.5rem;
}

.resto-main {
  padding: 0 1rem;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.resto-main {
  padding: 0 1rem;
}

.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1024px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
.menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
.menus h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menus .menus__category {
  overflow: hidden;
}
.menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1.2rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  animation: appear 1s;
  animation-fill-mode: both;
}
.menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  overflow: hidden;
}
.menus .menus__category .menu-item .menu-item__description h4,
.menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menus__category .menu-item .menu-item__description p {
  margin-top: -1rem;
}
.menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menus__category .menu-item:hover {
  cursor: pointer;
}
.menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

nav.order {
  height: 10vh;
  display: grid;
  place-items: center;
}
nav.order button {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: all 200ms;
  margin-top: -1rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
nav.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=P3_02_Style.css.map */
