@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
/* WILDCARD */
*,
::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", "sans-serif";
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.3rem;
}

.explorer {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.explorer h2 {
  font-size: 1.5rem;
}
.explorer p {
  font-size: 25px;
  margin: 1.5rem 0;
}
.explorer button {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: all 200ms;
  margin-top: -1rem;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.global-tuto {
  padding: 1rem;
  margin-bottom: 2rem;
}
.global-tuto .tuto {
  max-width: 1280px;
  margin: auto;
  position: relative;
  counter-reset: steps;
}
.global-tuto .tuto h2 {
  padding-left: 1.5rem;
}
.global-tuto .tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .global-tuto .tuto ol {
    flex-direction: column;
  }
}
.global-tuto .tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.global-tuto .tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #f6f6f6;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.global-tuto .tuto li:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.global-tuto .tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1rem;
}

.global-menu {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.global-menu .menus {
  max-width: 1280px;
  margin: auto;
  position: relative;
  background-color: #f6f6f6;
}
.global-menu .menus h2 {
  margin-bottom: 2rem;
}
.global-menu .menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1024px) {
  .global-menu .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.global-menu .menus .card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  color: inherit;
  display: block;
}
.global-menu .menus .card .card__image {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.global-menu .menus .card .card__title {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/*# sourceMappingURL=P3_02_Style.css.map */
