@use "../utils/mixins.scss";

.explorer
{
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
    
    & h2
    {
        font-size: 1.5rem;
    }
    
    & p
    {
        font-size: 25px;
        margin: 1.5rem 0;
    }
    
    & button
    {
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 2rem;
        @include mixins.base-shadow;
        background-image: linear-gradient(to top,rgba(147,86,220,.9),rgba(255,121,218,.9));
        transition: all 200ms;
        margin-top: -1rem;
    }
    
    & button:hover
    {
        transform: scale(1.02);
        opacity: 0.9;
        cursor: pointer;
    }
}