@use "../utils/mixins.scss";

header 
{
    font-family: 'Shrikhand', "cursive";
    text-align: center;
    @include mixins.base-shadow;
    padding: .3rem;
    margin: 0;
    position: relative;

    & h2
    {
        font-weight: 500;
        font-size: larger;
        margin-right: 1rem;
    }
}