@use "../utils/box-shadow.scss";

header 
{
    font-family: 'Shrikhand', "cursive";
    text-align: center;
    @include box-shadow.base-shadow;
    padding: .3rem;
    margin: 0;
    position: relative;
}