
@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

.global-tuto{
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: -2rem;
    
    .tuto 
    {
        
        max-width: 1280px;
        margin: auto;
        position: relative;
        counter-reset: steps;

    & h2 
    {
        padding-left: 2.5rem;
    }

    & ol 
    {
        display: flex;
        gap: 2rem;
        cursor: pointer;
        @media (max-width: 1024px)
        {
            flex-direction: column;
            margin: 0.5rem;
        }

    & li:hover .tuto__icon 
        {
            color: #9356DC;
        }
    }
    
    & li 
    {
        position: relative;
        &::before 
        {
            content: counter(steps);
            counter-increment: steps;
            color: colors.$white;
            background-color: colors.$primary;
            width: 2 * variables.$tuto-bullet-height;
            height: 2 * variables.$tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: variables.$tuto-bullet-height;
            left: -1 * variables.$tuto-bullet-height;   
        }
        list-style-type: none;
        font-weight: 500;
        background-color: colors.$white;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow;
        &:hover 
        {
            @include mixins.transform-zoom;
            background: #f7f1fc;
        }
        
        & i.fas 
        {
            margin-right: 1rem;
            color: colors.$lightgrey;
            font-size: 1rem;
        }
    }
}

}